.anvil
node_modules
.tmp
.sass-cache
assets/bower_components
assets/fonts
assets/images/
assets/scripts/
assets/styles/
assets/views/
angular/node_modules
angular/.tmp
angular/.sass-cache
angular/app/bower_components
!assets/bower_components/bootstrap

