/* line 53 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/* line 2 : /home/rish/www/projects/blogthingy/angular/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 3 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 7 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 11 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

/* line 14 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* line 20 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* line 25 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

@media (min-width: 768px) {
  /* line 26 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  .container {
    max-width: 730px;
  }
}

/* line 29 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

@media screen and (min-width: 768px) {
  /* line 30 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 36 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/* line 37 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.container-narrow > hr {
  margin: 30px 0;
}

/* line 40 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  border-bottom: 0;
}

/* line 44 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* line 48 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.marketing {
  margin: 40px 0;
}

/* line 50 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/* line 51 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.marketing p + h4 {
  margin-top: 28px;
}