/* line 6 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/* line 2 : /home/rish/www/projects/blogthingy/angular/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

header {
  font-size: 100px;
  background-color: #ccc;
  padding: 10% 0%;
  text-align: center;
}