/* line 88 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/* line 2 : /home/rish/www/projects/blogthingy/angular/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

@font-face {
  src: url("../fonts/UbuntuTitling-Bold.ttf");
  font-family: 'ubuntu-bold';
}

/* line 5 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

@font-face {
  src: url("../fonts/Ubuntu-L.ttf");
  font-family: 'ubuntu';
}

/* line 9 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/* line 14 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

body {
  font-family: 'ubuntu-bold' !important;
}

/* line 17 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

header {
  font-size: 100px;
  background-color: #e7e7e7;
  padding: 60px 0px;
  text-align: center;
  color: #888;
  text-shadow: -2px 0px 0px #747474;
}

/* line 25 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/*--------sidebar styles-----------*/

/* line 27 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#sidebar {
  position: fixed;
  top: 300px;
  padding: 20px;
  text-align: center;
}

/* line 33 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#sidebar,
#name {
  font-size: 17px;
}

/* line 36 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#name {
  line-height: 0.75;
  background-color: #888;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  padding-top: 46px;
  color: #f1f1f1;
  margin: 5px auto;
}

/* line 46 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#fries {
  font-size: 15px;
  color: #747474;
}

/* line 50 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#sidebar nav li:hover {
  color: #004152;
}

/* line 53 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#sidebar #links li {
  display: inline;
}

/* line 56 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/*----------SIDEWAR STYLES END-------------*/

/* line 58 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#ondway {
  text-align: center;
  font-size: 40px;
  line-height: 2;
  padding-top: 20px;
}

/* line 64 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#wait {
  position: relative;
  color: #636262;
}

/* line 68 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#follow {
  display: inline;
}

/* line 71 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#ondway div {
  color: #333;
  font-size: 35px;
}

/* line 76 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#follow img {
  width: 50px;
  margin-left: 10px;
}

/* line 80 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

@media (max-width: 768px) {
  /* line 82 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  header {
    font-size: 60px;
    padding: 30px;
  }

  /* line 86 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #ondway {
    font-size: 25px;
  }
}