header
  span Web.log()

section 
  p(id='wait') On It's Way...
  div
    p(id='follow') Follow the development at 
    a(href='https://github.com/rishy/blogthingy')
      img(src='images/giticon.png')