header(id="mainHead")
	span Web.log()

div(id='wrapper')
	div(id='sidebar')
		div(id='name')
			p &lt Rishabh &gt
		p(id='fries') I like french fries and computers

		nav
			ul
				li
					a(href='/#/profile') Profile
				li Stream

		div(class='networks')
			ul
				li 
					a(href='https://github.com/rishy' target='_blank')
						img(src='images/github.png')
				li
					a(href='https://plus.google.com/+Rishabhshukla13/posts' target='_blank')
						img(src='images/twitter.png')
				li
					a(href='https://twitter.com/0_rishabh' target='_blank')
						img(src='images/gplus.png')

	section
		article
			header
				h1 GSOC 2014 - mifos X Batch API
				p May, 17th 2014
			div
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.