header
	span Web.log()

div(id='sidebar')
	div(id='name')
		p &lt Rishabh &gt
	p(id='fries') I like french fries and computers

	nav
		ul
			li Profile
			li Stream

	nav(id='links')
		ul
			li 
				a 
					img(src="")
			li 
				a
					img(src="")
			li 
				a
					img(src="")
			li 
				a
					img(src="")
