header  
  font-size 100px
  background-color  #e7e7e7
  padding 60px 0px
  text-align center
  color #888

section 
  text-align center
  font-size 40px
  line-height 2
  padding-top 20px
  
#wait  
  position relative  
  color #636262

#follow 
  display inline

section div
  color #333
  font-size 35px

section div img
  width 50px

@media(max-width: 768px)

  header
    font-size 70px
    padding 40px

  section
    font-size 30px
  
  section div
    font-size 20px  