@font-face
  src url('../fonts/UbuntuTitling-Bold.ttf')
  font-family 'ubuntu-bold'

@font-face
  src url('../fonts/Ubuntu-L.ttf')
  font-family 'ubuntu'

ul 
  list-style-type none
  padding 0px
  margin 0px

a:hover
  text-decoration none
  color #004152 !important

a
  color #333333

.links
  border-bottom 1px dashed #004152
  -webkit-transition-duration 0.5s
  -webkit-transition-timing-function: ease-in-out;

.links:hover
  border-bottom 0px dashed #004152
  -webkit-transition-duration 0.5s
  -webkit-transition-timing-function: ease-in-out;

body
  font-family 'ubuntu-bold' !important   

/*--------------------Stream Page-------------------*/

#mainHead  
  font-size 100px
  background-color  #f3f3f3
  padding 5% 0%
  text-align center
  color #929292
  text-shadow -2px 0px 0px #808080

#wrapper section
  float right
  margin-left 275px
  margin-right 50px
  padding 40px 20px 20px 20px
  
#wrapper section article
  width 100%
  font-family 'ubuntu'
  
#wrapper section article header
  display inline-block
  width 100%
  border-bottom 1px solid #ccc
  
#wrapper section article header h1
  float left
  font-family 'ubuntu-bold'
  color #575757

#wrapper section article header p
  float right
  margin-top 25px
  font-size 18px

#wrapper section article div
  padding 10px
  font-size 18px

/*------------------Stream page ENDS----------------*/

/*--------sidebar styles-----------*/

#sidebar
  position absolute
  margin-top 40px
  padding 20px
  margin-left 10px
  text-align center

#sidebar, #name
  font-size 17px

#name
  line-height 0.75
  background-color #888
  height 100px
  width 100px
  border-radius 100%
  padding-top 46px
  color #F1F1F1
  margin 5px auto  
  -webkit-transition-duration 0.3s
  -webkit-transition-timing-function: ease-in-out;

#name:hover
  border-radius 3px
  -webkit-transition-duration 0.3s
  -webkit-transition-timing-function: ease-in-out;  

#fries
  font-size 15px
  color #747474

#sidebar nav li:hover
  color #004152 !important

.networks li
  display inline

#sidebar .networks
    margin-top 10px
    float none

#sidebar .networks li 
  margin-left 0

.fixedMenu
  position fixed !important
  top 20px

/*----------SIDEBAR STYLES END-------------*/

#ondway
  text-align center
  font-size 40px
  line-height 2
  padding-top 20px
  
#wait  
  position relative  
  color #636262

#follow 
  display inline

#ondway div
  color #333
  font-size 35px

#follow img
  width 50px
  margin-left 10px

/*------------------------------------Profile Page-----------------------------------*/

#profileWrapper
  padding 20px 60px

#profileWrapper header  
  border-bottom 1px solid #DDDDDD
  padding 20px 0px
  width 100%
  display inline-block

#pic
  height 150px
  width 150px
  border-radius 5px
  background-color #777
  float left

#pic img
  height 100%
  width 100%
  border-radius 5px

#intro
  float left
  margin-left 75px
  

#intro p:first-child
  font-size 70px
  margin 0

#intro p:last-child
  font-size 25px
  color #777  
  font-family 'ubuntu'

.networks
  float right
  margin-top 120px

.networks li
  margin-left 10px

#details  
  font-size 18px
  padding 30px 60px 30px 60px
  font-family ubuntu
  text-align justify
  position relative

#back2home  
  height 75px
  width 75px
  margin 0 auto


#back2home img
  height 100%
  width 100%

/*---------------------------Profile page ENDS---------------------*/

/*---------------------------Media Queries-------------------------*/

@media (max-width: 1024px) and (min-width: 768px)

  #mainHead
    font-size 80px
    padding 20px

  #profileWrapper 
    padding 15px 40px 
    
  #profileWrapper header
    padding 15px 0px

  #pic
    height 125px
    width 125px
    border-radius 4px

  #pic img
    border-radius 4px

  #intro
    margin-left 40px
    line-height 1.6
    
  #intro p:first-child
    font-size 50px

  #intro p:last-child
    font-size 18px

  .networks
    margin-top 100px

  .networks li
    margin-left 3px

  .networks li img
    height 28px
    width 28px

  #details
    font-size 16px
    padding 20px 40px

  #back2home 
    height 60px
    width 60px

  #sidebar
    position absolute !important
    margin-top 30px
    padding 15px
    font-size 14px

  #name
    height 80px
    width 80px
    padding-top 38px
    font-size 14px

  #fries
    font-size 13px

  #wrapper section
    margin-left 225px
    margin-right 20px

  #wrapper section article header h1
    font-size 175%

  #wrapper section article header p
    margin-top 23px
    font-size 16px

  #wrapper section article div
    font-size 16px

@media (max-width: 768px)

  #mainHead
    display none

  #sidebar
    position relative !important
    margin-top 0 
    margin-left 0   

  #ondway
    font-size 25px

  #profileWrapper 
    padding 10px 20px 
    
  #profileWrapper header
    padding 10px 0px

  #pic
    height 100px
    width 100px
    border-radius 3px
    float none
    margin auto

  #pic img
    border-radius 3px

  #intro
    margin-left 30px
    line-height 1.4
    text-align center
    float none
    margin 0 auto
    
  #intro p:first-child
    font-size 30px

  #intro p:last-child
    font-size 16px

  .networks
    margin-top 0px
    float none
    display flex

  .networks ul
    margin 0 auto

  .networks li
    margin-left 2px

  .networks li img
    height 24px
    width 24px

  #details
    font-size 15px
    padding 10px 20px

  #back2home 
    height 45px
    width 45px

  #wrapper section
    float right
    padding 30px 15px 15px 15px
    margin 0

  #wrapper section article header h1
    font-size 200%
    margin-top 0

  #wrapper section article header p
    font-size 16px
    float none
    clear both

  #wrapper section article div
    font-size 16px